<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,157},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>anniuwenli.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,72},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>backAr.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,353},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>beijingxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,72},{264,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,306}}</string>
                <key>sourceSize</key>
                <string>{264,306}</string>
            </dict>
            <key>biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,327}}</string>
                <key>sourceSize</key>
                <string>{640,327}</string>
            </dict>
            <key>blackBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>defenFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,30},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>highScoreLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,331},{90,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,20}}</string>
                <key>sourceSize</key>
                <string>{90,20}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,813},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>kuangLiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,242},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>loseFont1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,334},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>loseFont2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{321,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>qipanKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{530,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,480}}</string>
                <key>sourceSize</key>
                <string>{530,480}</string>
            </dict>
            <key>scoreFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{161,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,82}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>startLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>wenli.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,884},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>yanse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,813},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>yanse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,897},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>yanse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,897},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>yanse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pics.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c08b183da10ac304cf9d0ede83534c9$</string>
            <key>textureFileName</key>
            <string>pics.png</string>
        </dict>
    </dict>
</plist>
